<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />

  <body>
      <h1> 기본 정보 입력 </h1>
      <form action = "setcookie" method = "POST" enctype = "multipart/form-data">
        제 ID는
        <input type = "text" name = "id" size="10">
        입니다.
        <input type = "submit">
      </form>

      <h1> 안내사항 </h1>
      <ul>
        <li>보안은 전혀 고려하지 않은 서비스입니다.</li>
        <li>절대 비밀번호 같은 중요 정보 입력하지 말고 오큘러스 ID만 입력하세요</li>
        <li>이 서버는 daniel.jeon의 상황에 따라서 언제든지 폐쇄될 수 있습니다.</li>
      </ul>
   </body>
</html>
